<h1 class="text-center mt-5">Productos</h1>
<div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
  {{#each products}}
    <div class="card shadow-sm bg-body-tertiary" style="width: 200px;">
      <div class="card-header m-0 p-1 bg-white" style="height: 200px;">
        <img
          src="{{this.thumbnails.[0]}}"
          alt="{{this.title}}"
          class="img-fluid"
          style="height: 100%; object-fit: cover;"
        />
      </div>
      <div class="card-body bg-body-tertiary m-2 p-2 mb-0">
        <h2 class="fs-5">{{this.title}}</h2>
        <p class="fw-lighter mb-1" style="font-size: 0.9em;">{{this.description}}</p>
        <p class="fw-bolder mb-0" style="font-size: 0.9em;">${{this.price}}</p>
      </div>
      <div class="card-footer text-center">
        <div class="btn-group">
        <button class="btn btn-outline-dark btn-sm">Ver detalle</button>
        <button class="btn btn-outline-primary btn-sm" onclick="addToCart('{{this._id}}')" aria-label="Agregar al carrito">
          <i class="bi bi-cart-plus"></i>
        </button>
        </div>
        </div>
  </div>
  {{/each}}
</div>
